In [107]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Create a SparkSession
spark = SparkSession.builder.appName("App").getOrCreate()
spark.sparkContext.setLogLevel("WARN")

In [108]:
# Cargar el archivo CSV con la primera fila como encabezado
df = spark.read.format("csv").option("delimiter", ",").option("header", "true").load("1987.csv")

# Mostrar las columnas y las primeras 15 filas
df.show(15, truncate=False)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|1987|10   |14        |3        |741    |730       |912    |849       |PS           |1451     |NA     |91               |79            |NA     |23      |11      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |15        |4        |729    |730       |903    |849       |PS           |1451     |NA     |94               |79            |NA     |14      |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |17        |6        |741    |730       |918    |849       |PS           |1451     |NA     |97               |79            |NA     |29      |11      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |18        |7        |729    |730       |847    |849       |PS           |1451     |NA     |78               |79            |NA     |-2      |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |19        |1        |749    |730       |922    |849       |PS           |1451     |NA     |93               |79            |NA     |33      |19      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |21        |3        |728    |730       |848    |849       |PS           |1451     |NA     |80               |79            |NA     |-1      |-2      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |22        |4        |728    |730       |852    |849       |PS           |1451     |NA     |84               |79            |NA     |3       |-2      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |23        |5        |731    |730       |902    |849       |PS           |1451     |NA     |91               |79            |NA     |13      |1       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |24        |6        |744    |730       |908    |849       |PS           |1451     |NA     |84               |79            |NA     |19      |14      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |25        |7        |729    |730       |851    |849       |PS           |1451     |NA     |82               |79            |NA     |2       |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |26        |1        |735    |730       |904    |849       |PS           |1451     |NA     |89               |79            |NA     |15      |5       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |28        |3        |741    |725       |919    |855       |PS           |1451     |NA     |98               |90            |NA     |24      |16      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |29        |4        |742    |725       |906    |855       |PS           |1451     |NA     |84               |90            |NA     |11      |17      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |31        |6        |726    |725       |848    |855       |PS           |1451     |NA     |82               |90            |NA     |-7      |1       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|1987|10   |1         |4        |936    |915       |1035   |1001      |PS           |1451     |NA     |59               |46            |NA     |34      |21      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 15 rows

In [109]:
from pyspark.sql.functions import col, when

# Iterate over all columns in the DataFrame
for column in df.columns:
    df = df.withColumn(column, when(col(column) == "NA", None).otherwise(col(column)))

df.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|1987|   10|        14|        3|    741|       730|    912|       849|           PS|     1451|   NULL|               91|            79|   NULL|      23|      11|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        15|        4|    729|       730|    903|       849|           PS|     1451|   NULL|               94|            79|   NULL|      14|      -1|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        17|        6|    741|       730|    918|       849|           PS|     1451|   NULL|               97|            79|   NULL|      29|      11|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        18|        7|    729|       730|    847|       849|           PS|     1451|   NULL|               78|            79|   NULL|      -2|      -1|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        19|        1|    749|       730|    922|       849|           PS|     1451|   NULL|               93|            79|   NULL|      33|      19|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        21|        3|    728|       730|    848|       849|           PS|     1451|   NULL|               80|            79|   NULL|      -1|      -2|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        22|        4|    728|       730|    852|       849|           PS|     1451|   NULL|               84|            79|   NULL|       3|      -2|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        23|        5|    731|       730|    902|       849|           PS|     1451|   NULL|               91|            79|   NULL|      13|       1|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        24|        6|    744|       730|    908|       849|           PS|     1451|   NULL|               84|            79|   NULL|      19|      14|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        25|        7|    729|       730|    851|       849|           PS|     1451|   NULL|               82|            79|   NULL|       2|      -1|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        26|        1|    735|       730|    904|       849|           PS|     1451|   NULL|               89|            79|   NULL|      15|       5|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        28|        3|    741|       725|    919|       855|           PS|     1451|   NULL|               98|            90|   NULL|      24|      16|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        29|        4|    742|       725|    906|       855|           PS|     1451|   NULL|               84|            90|   NULL|      11|      17|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|        31|        6|    726|       725|    848|       855|           PS|     1451|   NULL|               82|            90|   NULL|      -7|       1|   SAN| SFO|     447|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|         1|        4|    936|       915|   1035|      1001|           PS|     1451|   NULL|               59|            46|   NULL|      34|      21|   SFO| RNO|     192|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|         2|        5|    918|       915|   1017|      1001|           PS|     1451|   NULL|               59|            46|   NULL|      16|       3|   SFO| RNO|     192|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|         3|        6|    928|       915|   1037|      1001|           PS|     1451|   NULL|               69|            46|   NULL|      36|      13|   SFO| RNO|     192|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|         4|        7|    914|       915|   1003|      1001|           PS|     1451|   NULL|               49|            46|   NULL|       2|      -1|   SFO| RNO|     192|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|         5|        1|   1042|       915|   1129|      1001|           PS|     1451|   NULL|               47|            46|   NULL|      88|      87|   SFO| RNO|     192|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
|1987|   10|         6|        2|    934|       915|   1024|      1001|           PS|     1451|   NULL|               50|            46|   NULL|      23|      19|   SFO| RNO|     192|  NULL|   NULL|        0|            NULL|       0|        NULL|        NULL|    NULL|         NULL|             NULL|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [68]:
from pyspark.sql.functions import col

# Contar valores NA por columna
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+-------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance| TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+-------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|   0|    0|         0|        0|  19685|         0|  23500|         0|            0|        0|1311826|            23500|             0|1311826|   23500|   19685|     0|   0|    1015|1311826|1311826|        0|         1311826|       0|     1311826|     1311826| 1311826|      1311826|          1311826|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+-------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+

In [52]:
# Mostrar las columnas del DataFrame
print(df.columns)

['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']

In [53]:
df.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

# Preprocessing
- eliminate unnecesary variables
- missing and duplicates values
- see correlation
- variable transformation
- variable creation

In [110]:
# columns to eliminate
columns = [
    "ArrTime", 
    "ActualElapsedTime", 
    "AirTime", 
    "TaxiIn", 
    "Diverted", 
    "CarrierDelay", 
    "WeatherDelay", 
    "NASDelay", 
    "SecurityDelay", 
    "LateAircraftDelay"
]

# Eliminate columns
df = df.drop(*columns)

In [70]:
df.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)

In [111]:
# columns to eliminate
columns = [
    "Year",
    "TailNum",
    "TaxiOut",
    "Cancelled",
    "CancellationCode"  
]

# Eliminate columns
df = df.drop(*columns)

In [98]:
df.printSchema()

root
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)

## Missing values

In [112]:
# Contar valores NA por columna
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+-----+----------+---------+-------+----------+----------+-------------+---------+--------------+--------+--------+------+----+--------+
|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|CRSArrTime|UniqueCarrier|FlightNum|CRSElapsedTime|ArrDelay|DepDelay|Origin|Dest|Distance|
+-----+----------+---------+-------+----------+----------+-------------+---------+--------------+--------+--------+------+----+--------+
|    0|         0|        0|  19685|         0|         0|            0|        0|             0|   23500|   19685|     0|   0|    1015|
+-----+----------+---------+-------+----------+----------+-------------+---------+--------------+--------+--------+------+----+--------+

In [74]:
df.select(col("ArrDelay")).distinct().show()

+--------+
|ArrDelay|
+--------+
|      -4|
|     125|
|     -30|
|   -1219|
|       7|
|      51|
|     124|
|     169|
|     205|
|      -1|
|      15|
|      54|
|     155|
|     154|
|     132|
|     317|
|     200|
|     428|
|      11|
|      -6|
+--------+
only showing top 20 rows

In [113]:
# Total number of rows in the DataFrame
total_rows = df.count()

# Calculate the percentage of null values for each column
null_percentage = df.select([(count(when(col(c).isNull(), c)) / total_rows).alias(c) for c in df.columns])

# Show the percentage of null values for each column
null_percentage.show()

+-----+----------+---------+--------------------+----------+----------+-------------+---------+--------------+--------------------+--------------------+------+----+--------------------+
|Month|DayofMonth|DayOfWeek|             DepTime|CRSDepTime|CRSArrTime|UniqueCarrier|FlightNum|CRSElapsedTime|            ArrDelay|            DepDelay|Origin|Dest|            Distance|
+-----+----------+---------+--------------------+----------+----------+-------------+---------+--------------+--------------------+--------------------+------+----+--------------------+
|  0.0|       0.0|      0.0|0.015005801074227831|       0.0|       0.0|          0.0|      0.0|           0.0|0.017913961150335486|0.015005801074227831|   0.0| 0.0|7.737306624506603E-4|
+-----+----------+---------+--------------------+----------+----------+-------------+---------+--------------+--------------------+--------------------+------+----+--------------------+

In [114]:
# Eliminar filas con al menos un valor faltante
df = df.dropna()

# Verificar que las filas con valores faltantes se han eliminado
df.count()

1287333

In [115]:
# Total number of rows in the DataFrame
total_rows = df.count()

# Calculate the percentage of null values for each column
null_percentage = df.select([(count(when(col(c).isNull(), c)) / total_rows).alias(c) for c in df.columns])

# Show the percentage of null values for each column
null_percentage.show()

+-----+----------+---------+-------+----------+----------+-------------+---------+--------------+--------+--------+------+----+--------+
|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|CRSArrTime|UniqueCarrier|FlightNum|CRSElapsedTime|ArrDelay|DepDelay|Origin|Dest|Distance|
+-----+----------+---------+-------+----------+----------+-------------+---------+--------------+--------+--------+------+----+--------+
|  0.0|       0.0|      0.0|    0.0|       0.0|       0.0|          0.0|      0.0|           0.0|     0.0|     0.0|   0.0| 0.0|     0.0|
+-----+----------+---------+-------+----------+----------+-------------+---------+--------------+--------+--------+------+----+--------+

## Duplicates

In [116]:
# Check for duplicates and show the results
print(df.count())
df = df.dropDuplicates()
print(df.count())
if df.count() > 0:
    print("There are duplicates in the DataFrame.")
    df.show()
else:
    print("No duplicates found in the DataFrame.")

1287333
1287264
There are duplicates in the DataFrame.
+-----+----------+---------+-------+----------+----------+-------------+---------+--------------+--------+--------+------+----+--------+
|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|CRSArrTime|UniqueCarrier|FlightNum|CRSElapsedTime|ArrDelay|DepDelay|Origin|Dest|Distance|
+-----+----------+---------+-------+----------+----------+-------------+---------+--------------+--------+--------+------+----+--------+
|   10|        10|        6|   1635|      1635|      1732|           PS|     1454|            57|       8|       0|   OAK| BUR|     325|
|   10|        20|        2|   1945|      1945|      2101|           PS|     1484|            76|       1|       0|   SFO| SAN|     447|
|   10|         9|        5|   2057|      2016|      2132|           PS|     1486|            76|      47|      41|   OAK| SAN|     446|
|   10|        13|        2|   2114|      2115|      2223|           PS|     1505|            68|       3|      -1|   SNA| SJC|     342|
|   10|        18|        7|    841|       842|      1030|           PS|     1517|           108|       3|      -1|   SFO| GEG|     733|
|   10|        19|        1|    914|       842|      1030|           PS|     1517|           108|      52|      32|   SFO| GEG|     733|
|   10|        27|        2|   1129|      1130|      1234|           PS|     1524|            64|      22|      -1|   SFO| BUR|     326|
|   10|         4|        7|   1806|      1800|      1911|           PS|     1526|            71|       6|       6|   SFO| LAX|     337|
|   10|        27|        2|   1804|      1800|      1911|           PS|     1526|            71|      21|       4|   SFO| LAX|     337|
|   10|        11|        7|   1832|      1830|      1931|           PS|     1538|            61|       8|       2|   SFO| BUR|     326|
|   10|        21|        3|   2007|      2010|      2126|           PS|     1547|            76|      11|      -3|   TUS| LAX|     451|
|   10|        16|        5|   1008|      1010|      1117|           PS|     1551|            67|      27|      -2|   BUR| SMF|     358|
|   10|        23|        5|   1811|      1810|      1858|           PS|     1566|            48|      10|       1|   BUR| LAS|     223|
|   10|        31|        6|   1705|      1635|      1800|           PS|     1577|            85|      19|      30|   SAN| SFO|     447|
|   10|        18|        7|   2034|      2035|      2157|           PS|     1589|            82|       3|      -1|   SAN| SMF|     480|
|   10|        28|        3|   1235|      1230|      1349|           PS|     1592|            79|      12|       5|   PDX| SMF|     479|
|   10|         8|        4|   1042|      1005|      1126|           PS|     1593|            81|      39|      37|   SMF| PDX|     479|
|   10|        12|        1|   1004|      1005|      1126|           PS|     1593|            81|       0|      -1|   SMF| PDX|     479|
|   10|        19|        1|    954|       955|      1105|           PS|     1603|            70|      -2|      -1|   SNA| SJC|     342|
|   10|        27|        2|   2145|      2120|      2216|           PS|     1663|            56|      29|      25|   BUR| SJC|     296|
+-----+----------+---------+-------+----------+----------+-------------+---------+--------------+--------+--------+------+----+--------+
only showing top 20 rows

## Correlation

## Variable transformation

## Variable creation

# Modeling

# Validation